h1{ padding-top: 350px;
    text-align: center;
}

    h2{
    text-align: center;
}
h3{
    text-align: center;
    font-size: small;
}
#steps{
   background-image: url(/IP3/assets/backgrounds/s_image.jpg);
   color: white;
}
img{
    padding-left: 500px     ;
}
.par{
    text-align: center;
}
.services{
    text-align: center;
    color: black;
    background-image: url(../IP3/IP3/assets/backgrounds/s_image.jpg);
}
.container1{
    background-image: url(/IP3/assets/backgrounds/s_image.jpg);
}
.form1{
    background-image: url(/IP3/assets/backgrounds/c_image.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
} 
::placeholder{
    color: white;
}
input{
    background: transparent;
    border: 1px white solid;
}
#name,#mail{
    width: 25%;
}
#msg{
    height: 200px;
    width: 50%;
}
footer{
    display: flex;
    flex-direction: row;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;    
}